@model UserProfileModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "UserDetails";
    var default_profile_picture = "~/Resources/Images/UserProfile/proflie_picture_default.png";
    var userId = Context.Session.GetString("userid");
    if (userId != null)
        Layout = "~/Views/Shared/_Layout_LogIn.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/UserProfile/UserProfile.css" />

<!-- Hidden fields for values that need to be passed into javascript -->
<input type="hidden" id="user_review" name="user_review" value=@Model.Rating />
<h1>User Profile Page</h1>
<div class="leftcolumn">
    <div class="card">
        @if (userId != null)
        {
            <img src="@Url.Content(Model.Image)" alt="User Image" style="width:100%">
        }
        else
        {
            <img src="@Url.Content(default_profile_picture)" alt="User Image" style="width:100%">
        }
        <h1>@(Model.FirstName + " " + Model.LastName)</h1>
        <form id="user_card_form">
            <div class="form-group mx-auto row margin-bottom">
                <textarea id="description" rows="4" readonly>
                        @Model.Description
                    </textarea>
            </div>
            <div class="form-group row mx-auto margin-bottom">
                <label for="user_rating" class="col-form-label">User Rating</label>
                <div class="col-sm-7">
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </div>
            </div>
            <div hidden="hidden" class="form-group row margin-bottom">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control-plaintext" id="email" value=@Model.Email>
                </div>
            </div>
            <div class="form-group row mx-auto">
                <label for="member_since" class="col-form-label">Member Since</label>
                <div class="col-sm-7">
                    <input type="datetime" class="form-control-plaintext" id="member_since" value=@Model.DateCreated.Date>
                </div>
            </div>

            <p><button id="contact_btn">Contact @(Model.FirstName + " " + Model.LastName)</button></p>
        </form>
    </div>
</div>

<div class="rightcolumn">
	<div class="job_history user_info">
		<h1>Interesting Tasks</h1>
		<ul class="list-group">
			@foreach (var item in Model.ListOfInterestingTasks)
			{
				<a asp-controller="TaskDetail" asp-action="Details" asp-route-id=@item.Id>
					<li class="list-group-item">
						<img src="~/Resources/Images/UserProfile/task_history.png" alt="task history icon" />
						@item.Title
					</li>
				</a>
			}

		</ul>
	</div>
</div>

<div class="rightcolumn">
	<div class="posting_history user_info">
		<h1>Posting History</h1>
		<ul class="list-group">
			@foreach (var item in Model.ListOfPostingsBeingOffered)
			{
				<a asp-controller="TaskDetail" asp-action="Details" asp-route-id=@item.Id>
					<li class="list-group-item">
						<img src="~/Resources/Images/UserProfile/task_history.png" alt="task history icon" />
						@item.Title
					</li>
				</a>
			}
		</ul>
	</div>
</div>

<script type="text/javascript" src="~/js/UserProfile/UserProfile.js"></script>
<script type="text/javascript" src="~/js/UserProfile/UserProfile_EventHandler.js"></script>